<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('./root/link-header') -%>
    <title>Mộc Hương Rừng Agarwood</title>
</head>
<body>
    <%- include('./root/header') -%>
    <!-- ----------------------------------------------Category -->
    <% const showCountPagePaniation = product.maxPage > 5 ? 5 : product.maxPage %>
    <section class="category">
        <div class="contener">
            <div class="category-top row">
                <p>Trang chủ<span>&#10230;</span><%= category.currentCategory?.category_name || '' %></p>
            </div>    
        </div>
        <div class="contener">
            <div class="row">
                <div class="category-left">
                    <ul>
                        <% category.categoriesProduct.forEach(function(category) { %>
                            <li class="category-left-li"><a href="/category/<%= category.category_code %>/1"><%= category.category_name %></a></li>
                        <% }) %>
                        <!-- <ul></ul>
                        <li class="category-left-li"><a href="">Nhẫn</a></li> -->
                    </ul>
                </div>
                <div class="category-right row">
                    <div class="category-right-top-item">
                        <p><b><%= category.currentCategory?.category_name || '' %></b></p>
                    </div>
                    <div class="category-right-top-item">
                        <button><span>Bộ lọc</span><i class="fas fa-sort-down"></i></button>
                    </div>
                    <div class="category-right-top-item">
                        <select name="sort_product" id="select-product-sort">
                            <% if(order == 'ASC') { %>
                                <option value="ASC" selected >Giá thấp đến cao</option>
                            <% } else { %>
                                <option value="ASC">Giá thấp đến cao</option>
                            <% } %>

                            <% if(order == 'DESC') { %>
                                <option value="DESC" selected>Giá cao đến thấp</option>
                            <% } else { %>
                                <option value="DESC">Giá cao đến thấp</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="category-right-content row">
                        <% product.products.forEach(function(itProduct) { %>
                            <div class="category-right-content-item">
                                <% if(itProduct.images != undefined && itProduct.images.length > 0) { %>
                                    <a href="#"></a><img src="./images/<%= itProduct.images[0].image_name %>.<%= itProduct.images[0].image_type %>" alt="<%= itProduct.images[0].image_name %>"></a>
                                <%  } else { %>
                                    <a href="#"></a><img src="./images/300x300.png" alt="300x300"></a>
                                <% } %>
                                <h1><%= itProduct.product_name %></h1>
                                <% if(itProduct.price_product) { %>
                                    <%= itProduct.price_product.salePrice %> <sup>đ</sup></p>
                                <% } %>
                            </div>
                        <% }) %>
                        <!-- <div class="category-right-content-item">
                            <img src="./images/Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ.jpeg" alt="">
                            <h1>Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ</h1>
                            <p>790.000 <sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="./images/Vòng Tay Trầm Hương 108 Hạt Trầm Hương Tự Nhiên.jpeg" alt="">
                            <h1>Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ</h1>
                            <p>790.000 <sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="./images/Vòng tay trầm hương 108 hạt.jpeg" alt="">
                            <h1>Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ</h1>
                            <p>790.000 <sup>đ</sup></p>
                        </div>  
                        <div class="category-right-content-item">
                            <img src="./images/Vòng tay trầm hương 108 hạtj Mix Cỏ 4 lá theo mệnh.jpeg" alt="">
                            <h1>Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ</h1>
                            <p>790.000 <sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="./images/Vòng tay Trầm hương đơn mix charm.jpeg" alt="">
                            <h1>Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ</h1>
                            <p>790.000 <sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="./images/Vòng tay Trầm hương đơn mix charm.jpeg" alt="">
                            <h1>Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ</h1>
                            <p>790.000 <sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="./images/mô tả trầm hương 1.jpg" alt="">
                            <h1>Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ</h1>
                            <p>790.000 <sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="./images/mô tả trầm hương 2.jpg" alt="">
                            <h1>Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ</h1>
                            <p>790.000 <sup>đ</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="./images/mô tả trầm hương 3.jpg" alt="">
                            <h1>Vòng Tay Trầm Hương 108 Hạt Sánh Chìm Mix Hoa Sen Trầm Cao Cấp Trầm Hương Đủ Kích Thước Nam Nữ</h1>
                            <p>790.000 <sup>đ</sup></p>
                        </div> -->
                    </div>
                    <div class="category-right-bottom row">
                        <div class="category-right-bottom-item">
                            <p>Hiện thị <b><%= quantityOfPage > product.totalRecord ? product.totalRecord : quantityOfPage %></b> <span>|</span><b><%= product.totalRecord %></b>  sản phẩm</p>
                        </div>
                        <% if(product.maxPage > 0 && product.products.length > 0) { %>
                            <div class="ategory-right-bottom-item">
                                <p>
                                    <% if(product.currentPage == 1) { %>
                                        <span>&#171;</span></a>
                                    <% } else { %>
                                        <a href="/category/<%= category.currentCategory?.category_code || '' %>/<%= product.currentPage - 1 %>.<%= order %>"><span>&#171;</span></a>
                                    <% } %>

                                    <% let countPage = 1 %>
                                    <% let startPage = 1 %>

                                    <% if(product.currentPage > 1) { %>
                                        <% startPage = product.currentPage - 1 %>
                                    <% } %>
                                    <% while(startPage <= product.maxPage && countPage <= showCountPagePaniation) { %>
                                        <% if(product.currentPage == startPage) { %>
                                            <span>[<%= startPage %>]</span>
                                        <% } else { %>
                                            <span><a href="/category/<%= category.currentCategory?.category_code || '' %>/<%= startPage %>.<%= order %>"><%= startPage %></a></span>
                                        <% } %>
                                        <% startPage++ %>
                                        <% countPage++ %>
                                    <% } %>
                                    
                                    <% if(product.currentPage == product.maxPage) { %>
                                        <span>&#187;</span>
                                    <% } else { %>
                                        <a href="/category/<%= category.currentCategory?.category_code || '' %>/<%= product.currentPage + 1 %>.<%= order %>"><span>&#187;</span></a>
                                    <% } %>
                                    <% if(product.currentPage != product.maxPage) { %>
                                        <a href="/category/<%= category.currentCategory?.category_code || '' %>/<%= product.maxPage %>.<%= order %>"><span>Trang cuối</span></a>
                                    <% } else { %>
                                        <span>Trang cuối</span>
                                    <% } %>
                                </p>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./root/foodter') -%>

    <script src="https://kit.fontawesome.com/fe2553334c.js" crossorigin="anonymous"></script>
    <script src="/js/client/category-js.js"></script>
</body>

<!-- <script>
    const header = document.querySelector("header")
    window.addEventListener(
        "scroll",
        function() {
        x = window.pageYOffset
        if(x>0){
            header.classList.add("sticky")
        }
        else{
            header.classList.remove("sticky")
        }
        }
    )


    const imgPosition = document.querySelectorAll(".aspect-ratio-169 img")
    const Imgcontainer = document.querySelector('.aspect-ratio-169')
    const dotitem = document.querySelectorAll(".dot")
    let imgNumber = imgPosition.length
    let index = 0
    imgPosition.forEach(function(image, index) {
        image.style.left= index*100 + "%"
        dotitem[index].addEventListener("click",function(){
            slider (index)
        })
    })
    function imgSlide (){
        index++;
        console.log(index)
        if(index>=imgNumber) {index=0}
        slider (index)
    }
    function slider (index){
        Imgcontainer.style.left = "-"+index*100+"%"
        const docActive = document.querySelector('.active')
        docActive.classList.remove("active")
        dotitem[index].classList.add("active")
    }
    setInterval(imgSlide,5000)
</script> -->
</html>