<header>
    <div class="logo">
        <p><b>CHO TAO CÁI LOGO để đây</b></p>
        <!-- <img src="img/logo web trầm.png" alt=""> -->
    </div>
    
    <div class="menu">
        <li><a href ="">Sản phẩm</a>
            <ul class="Sub-Menu">
                <% if(categoriesWithProduct != undefined && categoriesWithProduct.length > 0) { %>
                    <% categoriesWithProduct.forEach(function(categoryProduct) { %>
                        <li><a href ="/category/<%= categoryProduct.category.category_code %>/1.ASC"><%= categoryProduct.category.category_name %></a>
                            <ul>
                                <% categoryProduct.products.forEach(function(product) { %>
                                    <li><a href ="/product/<%= product.product_code %>"><%= product.product_name %></a></li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                <% } %>
                <!-- <li><a href ="">Vòng tay & Lắc tay</a>
                    <ul>
                        <li><a href ="">Trầm hương Đơn Mix cỏ 4 lá may mắn</a></li>
                        <li><a href ="">Vòng tay Trầm hương 108 hạt Mix cỏ 4 lá theo Mệnh</a></li>
                        <li><a href ="">Vòng tay Trầm hương đơn Mix Charm_Trầm hương thiên nhiên</a></li>
                        <li><a href ="">Vòng tay Trầm hương đơn Nam Nữ Mix Hoa Sen Gỗ mang lại nhiều Tài lộc và May mắn</a></li>
                        <li><a href ="">Vòng tay Trầm hương đơn Nam Nữ Mix Hoa Sen Vàng mang lại nhiều Tài lộc và May mắn</a></li>
                        <li><a href ="">Vòng tay Trầm hương 108 hạt Mix Lu thống theo Mệnh</a></li>
                        <li><a href ="">Vòng tay Trầm hương 108 hạt Sánh Chìm Mix Hoa Sen Trầm hương đủ kích thước Nam Nữ</a></li>
                        <li><a href ="">Vòng tay Trầm hương 108 hạt Omani Trầm hương Thiên nhiên</a></li>
                        <li><a href ="">Vòng tay Trầm hương 108 hạt Trầm hương tự nhiên</a></li>
                        <li><a href ="">Vòng Trầm 108 hạt Mix cỏ 4 lá và Túi Bạch Ngọc</a></li>
                    </ul>
                </li>
                <li><a href ="">Vòng tay & Lắc tay</a>
                    <ul>
                        <li><a href ="">Nhẫn Trầm hương Mix Đá - Đủ 5 màu bản mệnh</a></li>
                    </ul>
                </li> -->
            </ul>
        </li>
        <% if(category != undefined && category != null) { %>
            <% category.forEach(function(it) { %>
                <li><a href ="/category/<%= it.category_code %>"><%=  it.category_name %></a></li>
            <% }) %>
        <% } else { %>
            <li><a href ="">Vòng tay & Lắc tay</a></li>
                <!-- <ul class="Sub-Menu-Vong">
                    <li>Trầm hương Đơn Mix cỏ 4 lá may mắn</li>
                    <li>Vòng tay Trầm hương 108 hạt Mix cỏ 4 lá theo Mệnh</li>
                    <li>Vòng tay Trầm hương đơn Mix Charm_Trầm hương thiên nhiên</li>
                    <li>Vòng tay Trầm hương đơn Nam Nữ Mix Hoa Sen Gỗ mang lại nhiều Tài lộc và May mắn</li>
                    <li>Vòng tay Trầm hương đơn Nam Nữ Mix Hoa Sen Vàng mang lại nhiều Tài lộc và May mắn</li>
                    <li>Vòng tay Trầm hương 108 hạt Mix Lu thống theo Mệnh</li>
                    <li>Vòng tay Trầm hương 108 hạt Sánh Chìm Mix Hoa Sen Trầm hương đủ kích thước Nam Nữ</li>
                    <li>Vòng tay Trầm hương 108 hạt Omani Trầm hương Thiên nhiên</li>
                    <li>Vòng tay Trầm hương 108 hạt Trầm hương tự nhiên</li>
                    <li>Vòng Trầm 108 hạt Mix cỏ 4 lá và Túi Bạch Ngọc</li>
                </ul> -->
            <li><a href ="">Nhẫn</a></li>
        <% } %>

    </div>

    <div class="others">
        <li><input placeholder="Tìm kiếm" type="text"><i class="fas fa-search"></i></li>
        <li><a class="fa fa-paw" href=""></a></li>
        <li><a class="fa fa-user" href=""></a></li>
        <li><a class="fa fa-shopping-bag" href="/cart/showcart"></a></li>
    </div>
</header>